/* CSS Sheet for jQuery Contact Card Project - Tim Knab - July 2016 */

/*****************************/
/*		  CSS RESET 		*/
/****************************/
* {
	padding: 0;
	margin: 0;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
}

/*****************************/
/*		MAIN STYLINGS		*/
/****************************/

body {
	background: ##aba9a6;
	background-image: url("images/zenbg-1.png"), url("images/zenbg-2.png");
	background-repeat: repeat-x, repeat;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    padding: 30px 0px 0px 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

h2 {
    font-size: 1.3em;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 20px 30px 20px 30px;
}

h4 {
	padding: 0px 0px 30px 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

h6 {
	padding: 30px;
}

p {
	padding: 20px 30px 20px 30px;
}

form {
	padding: 0px 30px 30px 30px;
}

	form input[type="text"] {
		width: 300px;
		padding: 15px;
	    border-radius: 25px;
	    border: none;
		background: #f6f8f9;
		background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
		background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
		background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );
	}

	form input[type="text"]:focus, form textarea:focus {
		    outline: none;
			background: #ffd65e;
			background: -moz-linear-gradient(top,  #ffd65e 0%, #febf04 100%);
			background: -webkit-linear-gradient(top,  #ffd65e 0%,#febf04 100%);
			background: linear-gradient(to bottom,  #ffd65e 0%,#febf04 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
		    font-weight: bolder;
		    color: #000000;
		}

	form label, textarea {
		display: block;
		padding: 20px;
	}

	form textarea {
		margin-top: 20px;
	    width: 405px;
	    border: none;
	    outline: none;
	    border-radius: 35px;
	    background: #f6f8f9;
		background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
		background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
		background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );
	}

	form input[type="submit"], #show-button {
		padding: 20px 50px;
		font-weight: bolder;
		color: #000000;
		text-transform: uppercase;
		border: none;
		display: block;
		margin: 30px auto 0px auto;
		border-radius: 35px;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
		background: #ffd65e;
		background: -moz-linear-gradient(top,  #ffd65e 0%, #febf04 100%);
		background: -webkit-linear-gradient(top,  #ffd65e 0%,#febf04 100%);
		background: linear-gradient(to bottom,  #ffd65e 0%,#febf04 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
	}

		form input[type="submit"]:focus, #show-button:focus {
			outline: none;
		}

		form input[type="submit"]:hover, #show-button:hover {
			background: #fb83fa;
			background: -moz-linear-gradient(top,  #fb83fa 0%, #e93cec 100%);
			background: -webkit-linear-gradient(top,  #fb83fa 0%,#e93cec 100%);
			background: linear-gradient(to bottom,  #fb83fa 0%,#e93cec 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb83fa', endColorstr='#e93cec',GradientType=0 );
		}

#column-one-half {
	width: 529px;
    background: ##5f5e5c;
	background-image: url("images/zenbg-1a.png"), url("images/zenbg-2a.png");
	background-repeat: repeat-y, repeat;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin: 20px 0px 50px 20px;
    color: #fff;
    border: 10px solid #f5f5f5;
    box-shadow: 6px 6px 29px 5px  #4b4a49;
    -webkit-box-shadow: 6px 6px 29px 5px  #4b4a49;
    -moz-box-shadow: 6px 6px 29px 5px  #4b4a49;
}

#column-one-half-last {
	width: 375px;
	vertical-align: top;
}

	#column-one-half, #column-one-half-last {
		display: inline-block;
	}

	#column-one-half-last h2 {
		padding: 30px 30px 0px 30px;
	}

	#column-one-half-last h4.descript-contents {
		padding: 30px !important;
	}

	#column-one-half-last a {
		color: #e91e63;
		text-decoration: none;
	}

		#column-one-half-last a:hover {
			text-decoration: underline;
		}

#fn-txt {
	margin-right: 15px;
}

#ln-txt {
	margin-right: 15px;
}

#em-txt {
	margin-right: 51px;
}

#desc-txt {
	display: block;
	margin-top: 20px;
}

#fn-txt, #ln-txt, #em-txt, #desc-txt {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}

.close {
	width: 20px;
    height: 20px;
    padding: 10px 10px 0px 10px;
    display: inline-block;
    margin-left: auto;
    display: block !important;
}

	.close:hover {
		color: red;
	}

.contact {
    margin: 30px;
    margin-left: auto;
	background: #ffd65e;
	background: -moz-linear-gradient(top,  #ffd65e 0%, #febf04 100%);
	background: -webkit-linear-gradient(top,  #ffd65e 0%,#febf04 100%);
	background: linear-gradient(to bottom,  #ffd65e 0%,#febf04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
    box-shadow: 6px 6px 29px 5px #4b4a49;
    -webkit-box-shadow: 6px 6px 29px 5px #4b4a49;
    -moz-box-shadow: 6px 6px 29px 5px #4b4a49;
}

.descript-link {
	padding: 30px !important;
}

.alert {
	font-weight: bolder;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    width: auto;
    font-style: italic;
    margin-top: 20px;
    border-radius: 35px;
    background: #d2ff52;
	background: -moz-linear-gradient(top,  #d2ff52 0%, #91e842 100%);
	background: -webkit-linear-gradient(top,  #d2ff52 0%,#91e842 100%);
	background: linear-gradient(to bottom,  #d2ff52 0%,#91e842 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 );
}

#top-alert {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    z-index: 10000;
    position: fixed;
    top: 0;
    width: 100%;
    background: #d2ff52;
    background: -moz-linear-gradient(top, #d2ff52 0%, #91e842 100%);
    background: -webkit-linear-gradient(top, #d2ff52 0%,#91e842 100%);
    background: linear-gradient(to bottom, #d2ff52 0%,#91e842 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 );
}

	#top-alert p {
	}

#show-button {
	opacity: 0.6;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline !important;
    vertical-align: top;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    padding: 10px 20px 10px 20px;
    background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}
